:root {
  --clr-primary: #2AB2AF;
  --clr-primary-lt: #4ABEBD;
  --clr-secondary: #C0DF34;
  --clr-base: #98A6BD;
  --clr-base-lt: #E5EFF5;
  --clr-ntrl-max: #FFF;
  --ff-primary: 'Karla', sans-serif;
}
/* ========== RESET ========== */
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  font-family: var(--ff-primary);
  font-size: 1.6rem;
  line-height: 1.4;
}
ul, ol {
  list-style: none;
}
picture, img {
  max-width: 100%;
  display: block;
}
button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
/* ========== STYLES ========== */
.sr-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}
.main-section {
  width: 100%;
  min-height: 100vh;
  padding: 7.2rem 3.2rem;
  display: grid;
  place-items: center;
  background-color: var(--clr-base-lt);
}
.price-card {
  width: 100%;
  max-width: 35rem;
  border-radius: .5rem;
  overflow: hidden;
}
.community {
  padding: 2.6rem 2.4rem 3.2rem;
  background-color: var(--clr-ntrl-max);
}
.community__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: -0.02rem;
  color: var(--clr-primary);
}
.community__info {
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: -0.02rem;
  color: var(--clr-secondary);
}
.community__descrip {
  font-size: 1.4rem;
  line-height: 1.84;
  letter-spacing: -0.015rem;
  color: var(--clr-base);
}
.subscription {
  padding: 2.3rem 2.4rem;
  background-color: var(--clr-primary);
  color: var(--clr-ntrl-max);
}
.subscription__title {
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.subscription__cost {
  margin-bottom: 0.2rem;
  color: rgba(255, 255, 255, .6);
}
.subscription__cost em {
  margin-right: .9rem;
  font-size: 3.2rem;
  font-weight: 500;
  font-style: normal;
  vertical-align: middle;
  color: var(--clr-ntrl-max);
}
.subscription__descrip {
  margin-bottom: 2.7rem;
  font-size: 1.56rem;
}
.subscription__cta {
  width: 100%;
  padding: 1.3rem 0;
  display: block;
  border-radius: .5rem;
  text-align: center;
  background-color: var(--clr-secondary);
}
.about {
  padding: 2.3rem 2.4rem 2.4rem;
  background-color: var(--clr-primary-lt);
  color: var(--clr-ntrl-max);
}
.about__title {
  margin-bottom: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
}
.about__descrip {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  line-height: 1.42;
  letter-spacing: -0.012rem;
  color: rgba(255, 255, 255, .6);
}
@media (min-width: 64em) {
  .main-section {
    padding: 1rem;
  }
  .price-card {
    max-width: 63.5rem;
    min-height: 47.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    border-radius: 1rem;
  }
  .community {
    padding: 3.8rem 4rem 2.2rem;
    grid-area: 1 / 1 / 2 / 3;
  }
  .community__title {
    font-size: 2.4rem;
  }
  .community__info {
    margin-bottom: 1rem;
    font-size: 1.8rem;
  }
  .community__descrip {
    font-size: 1.6rem;
    line-height: 1.55;
  }
  .subscription,
  .about {
    padding: 4rem 4rem 2rem;
  }
}
